<!DOCTYPE html>
<html>
  <head>    
    <script src="{{url_for('static', filename = '/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename = '/js/bootstrap.min.js')}}"></script>    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = '/css/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename = '/js/main.js')}}"></script>      
    <script src="{{url_for('static', filename = '/js/validate.js')}}"></script>  
    {% block head %}
    <title>
      {% block title %}{% endblock %} - Labor
    </title>
    {% endblock %}
  </head>

  
    {% block content %}
    
    {% endblock %}
  
</html>